name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get pnpm version
        run: echo "PNPM_VERSION=$(cat package.json | jq .volta.pnpm)" >> "$GITHUB_ENV"
      - name: Enable pnpm with corepack
        run: corepack enable && corepack prepare pnpm@${{env.PNPM_VERSION}} --activate
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: './package.json'
          cache: pnpm
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Install packages
        run: pnpm install --frozen-lockfile

      - name: Run CI
        run: pnpm run ci
